<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Books</title>
  <link rel="stylesheet" th:href="@{/common.css}">
  <script th:src="@{/context.js}"></script>
  <script th:src="@{/book_common_methods.js}"></script>
  <script th:src="@{/books.js}"></script>
  <script th:src="@{/book.js}"></script>
</head>
<body onload="initBooks()">

<h3>
  Books
</h3>

<div>
  <table class="books" id="books">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Authors</th>
      <th>Genres</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div>
  <p>Get book by id</p>
</div>

<div>
  <form action="book.html" method="post">
    <label for="fid">ID:</label>
    <input id="fid" name="name" type="text" value="John Doe"><br>
    <button type="button" name="Get book by id" onclick="initBook()">Get book by id</button>
  </form>
</div>

<div>
  <table class="books" id="book">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Authors</th>
      <th>Genres</th>
      <th>Commentaries</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div>
  <a th:href="@{/book/create}" href="book_create.html">Create new book</a>
</div>

</body>
</html>