<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Books</title>
  <style th:src="@{/static/style.css}"></style>
  <script th:src="@{/static/context.js}"></script>
  <script th:src="@{/static/books.js}"></script>


  <script>

    // function getAllBooks() {
    //   fetch('https://rickandmortyapi.com/api/character/4')
    //   .then(response => response.json())
    //   .then(json => outputCharacter(json))
    // }

    function getAllBooks() {
      const bookApi = 'book'

      return fetch(pathToApi + bookApi)
      .then(response => response.json())
      .then(cluster => JSON.stringify(cluster))
      .then(cluster => JSON.parse(cluster));
    }

    function printBooks(json) {
      const bookContainer = document.getElementById('js_table');
      bookContainer.appendChild(buildHtmlTable(json));
    }

    function init() {
      let json = getAllBooks();
      printBooks(json);
    }


  </script>

</head>
<body onload="init()">

<h3>
  Books
</h3>

<div class="books" id="js_table">

</div>

<!--<table class="books" id="books">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>ID</th>-->
<!--    <th>Name</th>-->
<!--    <th>Authors</th>-->
<!--    <th>Genres</th>-->
<!--    <th>Action</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr th:each="book : ${books}">-->
<!--    <td th:text="${book.id}">1</td>-->
<!--    <td th:text="${book.name}">John Doe</td>-->
<!--    <td>-->
<!--      <th:block th:each="author : ${book.authors}">-->
<!--        <p th:text="${author.name}">author</p>-->
<!--      </th:block>-->
<!--    </td>-->
<!--    <td>-->
<!--      <th:block th:each="genre : ${book.genres}">-->
<!--        <p th:text="${genre.name}">author</p>-->
<!--      </th:block>-->
<!--    </td>-->
<!--    <td>-->
<!--      <div>-->
<!--        <a th:href="@{/book/delete(id=${book.id})}" href="books.html">Delete</a>-->
<!--      </div>-->
<!--      <div>-->
<!--        <a th:href="@{/book(id=${book.id})}" href="book.html">Go to book</a>-->
<!--      </div>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->

<div>
  <a th:href="@{/book/create}" href="book_create.html">Create new book</a>
</div>

</body>
</html>