<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create commentary</title>
</head>
<body>

<form action="commentary_create.html" th:method="post"
      th:action="@{/commentary/create(bookId=*{book.id})}"
      th:object="${commentary}">

  <label hidden="hidden" for="fid">ID:</label>
  <input hidden="hidden" id="fid" name="fid" th:field="${commentary.id}" th:value="0"><br>
  <label for="fname">Text:</label><br>
  <input type="text" id="fname" name="fname" th:field="${commentary.text}" th:value="*{text}"><br>
<!--  <label hidden="hidden" for="fbook">Book:</label><br>-->
<!--  <input hidden="hidden" type="text" id="fbook" name="fbook"-->
<!--         th:field="${commentary.book}"-->
<!--         th:value="${book}"><br>-->

  <div class="row">
    <button type="submit">Save</button>
    <a href="book.html" th:href="@{/book(id=*{book.id})}">
      <button type="button">Cancel</button>
    </a>
  </div>
</form>

</body>
</html>